@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color:black;
  text-decoration: none;
}


.seriesBox {
  /* border: 1px solid black; */
  /* width: 50vw; */
  border-collapse: collapse;
  text-align: center;
  margin: 1.618vw;
  width: min(80vw, 350px);
  position:relative;
}

.seriesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
}

.seriesImage {
  width: 100%;
  height: 100%;
}

.seriesBox:hover .seriesText a{
  visibility: visible;
}

.seriesText a {
  visibility: hidden;
  text-decoration: none;
  position: absolute;
  bottom: 61.8%;
  left:50%;
  background: yellow;
  color: black;
  mix-blend-mode: hard-light;
  font-size: 20px;

}

.header {
  font-size: 15px;
  margin: 2px  0 0 0 ;
  display: flex;
  justify-content: right;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artworkImage {
  width: min(350px, 80vw);
  margin: 2vw;
}